<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Waterlyfe</title>
		
		<!-- Online custom-built css and javascript files -->
		<link rel="stylesheet" href="css/waterlyfe-theme.min.css" />
		<link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile.structure-1.4.0.min.css" />
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
	    
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		
		<!-- Manually custom-built css and javascript files -->
		<!--
		<link rel="stylesheet" href="./css/index.css" />
		<script src="./js/index.js"></script> -->
	</head>
	
	<body>
	
		<!-- Start of login page -->
		<div data-role="page" data-theme="a" id="one">
			<div data-role="header" >
				<h1>Waterlyfe</h1>
			</div>
			
			<div data-role="content" data-theme="a">
				<p><h2>
					Welcome to Waterlyfe, the mobile web application made to help
					and improve your water consumption needs!
				</h2></p>
				
				<form id="loginForm" role="form" method="get" action="/homepage" data-ajax="false" rel="external">
					<h3>Login</h3>
					<div class="form-group">
					  <label for="username">Username:</label>
					  <input type="text" class="form-control" id="username" 
					  placeholder="username" name="username">
					</div>
					<div class="form-group">
					  <label for="password">Password:</label>
					  <input type="password" class="form-control" id="password" placeholder="Password">
					</div>
					<input type="submit" id="loginBtn" class="btn btn-default" value="Login"></input>
				</form>
				<form id="signupForm" role="form" method="get" action="/signup" data-ajax="false" rel="external">
					<input type="submit" id="signupBtn" class="btn btn-default" value="Sign up"></input>
				</form>
				
			</div>
			
			<p> Learn more about us <a href="#two" data-transition="slideup">here</a>!</p>	
			
			<div data-role="footer">
				<h5>Waterbenders</h5>
			</div><!-- /footer -->
			
			<link rel="stylesheet" href="./css/index.css" />
			<script src="js/index.js"></script> 
			<!--
			<script src="js/homepage.js"></script>
			<script src="js/calculator.js"></script>
			<script src="js/myProfile.js"></script>
			<script src="js/history.js"></script> -->
		</div>
		
		<!-- /PAGE TWO (ABOUT US) -->		
		<div data-role="page" data-theme="a" id="two">

			<div data-role="header" >
					<h1>About Us</h1>
					<a href="#one" class="ui-btn ui-btn-inline">Back</a>
			</div>

			<div data-role="content">
				<p>
					<h2>What is GoHydrate?</h2>
					GoHydrate is the mobile web application to help and improve your water consumption needs. <br/>
					<br/>
					Do you drink enough water? <br/>
					Calculate your own recommended amount of water intake and keep track of how much water you drink. <br/>
					Do you forget to drink water? <br/>
					Set reminders so you won't forget to hydrate even during your busiest days. <br/>
					<br/>
					<h5>Features: </h5>
						<ul>
						<li>Calculator – determine your recommended water intake based 
						on your age, weight, and activity level</li>
						<li>Reminder – set reminder for any time and days of the week 
						so you won’t forget to drink water</li>
						<li>Graph – visually compare your water drinking habits </li>
						<li>Goals – set goals and what you hope to achieve</li>
						</ul>
						<br/>
					<h5>Benefits of drinking more water: </h5>
					<ul>
						<li>Improves your mood</li>
						<li>Assists in weight loss </li>
						<li>Speeds up metabolism</li>
						<li>Prevents bad breath</li>
						<li>Improves skin complexion</li>
						<li>Removes toxins</li>
						<li>Maintains balance of body fluids</li>
						<li>Saves money – water is free</li>
					</ul>
					<br/>

					<h4> It's that simple. So what are you waiting for? Go hydrate? </h4>
				</p>
			</div>

			<div data-role="footer">
					<h5>Waterbenders</h5>
			</div><!-- /footer -->

		</div> <!-- /END OF ABOUT US -->
	
	</body>
</html>