<!DOCTYPE html>
<html>
	<head>
		<!-- Google Analytics Content Experiment code -->
		<script>function utmx_section(){}function utmx(){}(function(){var
		k='82932535-1',d=document,l=d.location,c=d.cookie;
		if(l.search.indexOf('utm_expid='+k)>0)return;
		function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
		indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
		length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
		'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
		'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
		'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
		valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
		'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
		</script><script>utmx('url','A/B');</script>
		<!-- End of Google Analytics Content Experiment code -->
	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Waterlyfe</title>
		
		<!-- Online custom-built css and javascript files -->
		<link rel="stylesheet" href="css/waterlyfe-theme.min.css" />
		<link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile.structure-1.4.0.min.css" />
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
	    
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		
		<!-- Manually custom-built css and javascript files -->
		<!--
		<link rel="stylesheet" href="./css/index.css" />
		<script src="./js/index.js"></script> -->
	</head>
	
	<body>
	
		<!-- Start of login page -->
		<div data-role="page" data-theme="a" id="one">
			<div data-role="header" >
				<h1>GoHydrate</h1>
			</div>
			
			<div data-role="content" data-theme="a">
				<p><h2>
					Welcome to GoHydrate! Staying hydrated has never been easier.
				</h2></p>
				
				<form id="loginForm" role="form" method="get" action="/homepage" data-ajax="false" rel="external">
					<h3>Login</h3>
					<div class="form-group">
					  <label for="username">Username:</label>
					  <input type="text" class="form-control" id="username" 
					  placeholder="username" name="username">
					</div>
					<div class="form-group">
					  <label for="password">Password:</label>
					  <input type="password" class="form-control" id="password" placeholder="Password">
					</div>
					<input type="submit" id="loginBtn" class="btn btn-default" value="Login"></input>
				</form>
				<form id="signupForm" role="form" method="get" action="/signup" data-ajax="false" rel="external">
					<input type="submit" id="signupBtn" class="btn btn-default" value="Sign up"></input>
				</form>
				
			</div>
			
			{{#if redesign}}
				<p> Learn more about us <a href="#two" data-transition="slideup"
				id="aboutLink">
					here
				</a>!</p>	
			{{else}}
				<a href="#popupAbout" data-rel="popup" class="ui-nodisc-icon 
				ui-btn" data-transition="pop" id="aboutLink">
					Learn more about us here!
				</a>
				<div data-role="popup" id="popupAbout" data-theme="b" 
				data-content-theme="a" style="margin:30; background:#878787;">
					<div data-role="header" >
					<h1>About Us</h1>
					<a href="#one" class="ui-btn ui-btn-inline">Back</a>
				</div>

				<div data-role="content">
					<p>
						<h2>What is GoHydrate?</h2>
						GoHydrate is the mobile web application to help and improve your water consumption needs. <br/>
						<br/>
						Do you drink enough water? <br/>
						Calculate your own recommended amount of water intake and keep track of how much water you drink. <br/>
						Do you forget to drink water? <br/>
						Set reminders so you won't forget to hydrate even during your busiest days. <br/>
						<br/>
						<h5>Features: </h5>
							<ul>
							<li>Calculator – determine your recommended water intake based 
							on your age, weight, and activity level</li>
							<li>Reminder – set reminder for any time and days of the week 
							so you won’t forget to drink water</li>
							<li>Graph – visually compare your water drinking habits </li>
							<li>Goals – set goals and what you hope to achieve</li>
							</ul>
							<br/>
						<h5>Benefits of drinking more water: </h5>
						<ul>
							<li>Improves your mood</li>
							<li>Assists in weight loss </li>
							<li>Speeds up metabolism</li>
							<li>Prevents bad breath</li>
							<li>Improves skin complexion</li>
							<li>Removes toxins</li>
							<li>Maintains balance of body fluids</li>
							<li>Saves money – water is free</li>
						</ul>
						<br/>

						<h4> It's that simple. So what are you waiting for? Go hydrate? </h4>
					</p>
				</div>

				<div data-role="footer">
						<h5>Waterbenders</h5>
				</div><!-- /footer -->
				</div><!-- /popup -->
			{{/if}}
			
			
			<div data-role="footer">
				<h5>Waterbenders</h5>
			</div><!-- /footer -->
			
			<link rel="stylesheet" href="./css/index.css" />
			<script src="js/index.js"></script> 

			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-48475732-2', 'waterlyfe.herokuapp.com');
				ga('send', 'pageview');

			</script>
		</div>
		
		<!-- /PAGE TWO (ABOUT US) -->		
		<div data-role="page" data-theme="a" id="two">

			<div data-role="header" >
					<h1>About Us</h1>
					<a href="#one" class="ui-btn ui-btn-inline">Back</a>
			</div>

			<div data-role="content">
				<p>
					<h2>What is GoHydrate?</h2>
					GoHydrate is the mobile web application to help and improve your water consumption needs. <br/>
					<br/>
					Do you drink enough water? <br/>
					Calculate your own recommended amount of water intake and keep track of how much water you drink. <br/>
					Do you forget to drink water? <br/>
					Set reminders so you won't forget to hydrate even during your busiest days. <br/>
					<br/>
					<h5>Features: </h5>
						<ul>
						<li>Calculator – determine your recommended water intake based 
						on your age, weight, and activity level</li>
						<li>Reminder – set reminder for any time and days of the week 
						so you won’t forget to drink water</li>
						<li>Graph – visually compare your water drinking habits </li>
						<li>Goals – set goals and what you hope to achieve</li>
						</ul>
						<br/>
					<h5>Benefits of drinking more water: </h5>
					<ul>
						<li>Improves your mood</li>
						<li>Assists in weight loss </li>
						<li>Speeds up metabolism</li>
						<li>Prevents bad breath</li>
						<li>Improves skin complexion</li>
						<li>Removes toxins</li>
						<li>Maintains balance of body fluids</li>
						<li>Saves money – water is free</li>
					</ul>
					<br/>

					<h4> It's that simple. So what are you waiting for? Go hydrate? </h4>
				</p>
			</div>

			<div data-role="footer">
					<h5>Waterbenders</h5>
			</div><!-- /footer -->

		</div> <!-- /END OF ABOUT US -->
	
	</body>
</html>