<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Waterlyfe</title>
		
		<!-- Online custom-built css and javascript files -->
		<link rel="stylesheet" href="css/waterlyfe-theme.min.css" />
		<link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile.structure-1.4.0.min.css" />
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
	    
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		
		<!-- Manually custom-built css and javascript files -->
		<!--
		<link rel="stylesheet" href="./css/index.css" />
		<script src="./js/index.js"></script> -->
	</head>
	<body>
		<div data-role="page" data-theme="a">
			<div data-role="header" data-position="inline">
				<h1>GoHydrate</h1>
			</div>
			
			<div data-role="content" data-theme="a">
				<center>
				<form role="form" method="get" action="/add" data-ajax="false" rel="external">
				<table>
					<tr>
					<td><center><b>Username: </b></center></td>
					<td><input type='text' id='usernameInput' value='' name='username' /></td>
					</tr>
					<tr>
					<td><center><b>Password: </b></center></td>
					<td><input type='password' id='passwordInput' value='' name='password' /></td>
					</tr>
					<tr>
					<td><center><b>Confirm Password: </b></center></td>
					<td><input type='password' id='passwordInput1' value='' name='password1' /></td>
					</tr>
					<tr>
					<td><center><b>Email: </b></center></td>
					<td><input type='email' id='emailInput' value='' name='email' /></td>
					</tr>					
				</table>
				
				<input type="submit" id="submitBtn" class="btn btn-default" value="Sign up!"></input>
				
				</form>
				
				<a href='./' data-ajax="false" rel="external">
				<input type='button' id='cancelbtn' value='Cancel' class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-right"/>
				</a>
				</center>
			</div>
			
			<div data-role="footer">
				<h5>Waterbenders</h5>
			</div><!-- /footer -->
	</body>
</html>